In [23]:
# Import dependencies
import os
import pandas as pd
import numpy as np

In [24]:
# Set the file path into csv_path and reading the csv file into lending_club_data
csv_path= os.path.join("Resources/lc_2016_2017.csv")
lending_club_data = pd.read_csv(csv_path, low_memory=False)

# Print the info just to verify the read_csv is reading the file properly 
lending_club_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 72 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           759338 non-null  int64
 1   member_id                    0 non-null       float64
 2   loan_amnt                    759338 non-null  int64
 3   funded_amnt                  759338 non-null  int64
 4   funded_amnt_inv              759338 non-null  float64
 5   term                         759338 non-null  object
 6   int_rate                     759338 non-null  float64
 7   installment                  759338 non-null  float64
 8   grade                        759338 non-null  object
 9   sub_grade                    759338 non-null  object
 10  emp_title                    708368 non-null  object
 11  emp_length                   708975 non-null  object
 12  home_ownership               759338 non-null  object
 13  annual_inc                   759338 non-null  float64
 14  verification_status          759338 non-null  object
 15  issue_d                      759338 non-null  object
 16  loan_status                  759338 non-null  object
 17  pymnt_plan                   759338 non-null  object
 18  desc                         17 non-null      object
 19  purpose                      759338 non-null  object
 20  title                        736165 non-null  object
 21  zip_code                     759337 non-null  object
 22  addr_state                   759338 non-null  object
 23  dti                          758983 non-null  float64
 24  delinq_2yrs                  759338 non-null  int64
 25  earliest_cr_line             759338 non-null  object
 26  inq_last_6mths               759337 non-null  float64
 27  mths_since_last_delinq       396633 non-null  float64
 28  mths_since_last_record       141179 non-null  float64
 29  open_acc                     759338 non-null  int64
 30  pub_rec                      759338 non-null  int64
 31  revol_bal                    759338 non-null  float64
 32  revol_util                   758821 non-null  float64
 33  total_acc                    759338 non-null  int64
 34  initial_list_status          759338 non-null  object
 35  out_prncp                    759338 non-null  float64
 36  out_prncp_inv                759338 non-null  float64
 37  total_pymnt                  759338 non-null  float64
 38  total_pymnt_inv              759338 non-null  float64
 39  total_rec_prncp              759338 non-null  float64
 40  total_rec_int                759338 non-null  float64
 41  total_rec_late_fee           759338 non-null  float64
 42  recoveries                   759338 non-null  float64
 43  collection_recovery_fee      759338 non-null  float64
 44  last_pymnt_d                 758390 non-null  object
 45  last_pymnt_amnt              759338 non-null  float64
 46  next_pymnt_d                 591423 non-null  object
 47  last_credit_pull_d           759320 non-null  object
 48  collections_12_mths_ex_med   759338 non-null  int64
 49  mths_since_last_major_derog  215105 non-null  float64
 50  policy_code                  759338 non-null  int64
 51  application_type             759338 non-null  object
 52  annual_inc_joint             34003 non-null   float64
 53  dti_joint                    34001 non-null   float64
 54  verification_status_joint    34003 non-null   object
 55  acc_now_delinq               759338 non-null  int64
 56  tot_coll_amt                 759338 non-null  float64
 57  tot_cur_bal                  759338 non-null  float64
 58  open_acc_6m                  759276 non-null  float64
 59  open_il_12m                  759277 non-null  float64
 60  open_il_24m                  759277 non-null  float64
 61  mths_since_rcnt_il           738795 non-null  float64
 62  total_bal_il                 759277 non-null  float64
 63  il_util                      658743 non-null  float64
 64  open_rv_12m                  759277 non-null  float64
 65  open_rv_24m                  759277 non-null  float64
 66  max_bal_bc                   759277 non-null  float64
 67  all_util                     759224 non-null  float64
 68  total_rev_hi_lim             759338 non-null  float64
 69  inq_fi                       759277 non-null  float64
 70  total_cu_tl                  759276 non-null  float64
 71  inq_last_12m                 759276 non-null  float64
dtypes: float64(40), int64(10), object(22)
memory usage: 417.1+ MB

In [25]:
# Cleaning uneccesary data (pt.1)

lending_club_data.drop(['id','member_id','desc','policy_code','issue_d','initial_list_status','application_type'],axis=1,inplace=True)

lending_club_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 65 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    759338 non-null  int64
 1   funded_amnt                  759338 non-null  int64
 2   funded_amnt_inv              759338 non-null  float64
 3   term                         759338 non-null  object
 4   int_rate                     759338 non-null  float64
 5   installment                  759338 non-null  float64
 6   grade                        759338 non-null  object
 7   sub_grade                    759338 non-null  object
 8   emp_title                    708368 non-null  object
 9   emp_length                   708975 non-null  object
 10  home_ownership               759338 non-null  object
 11  annual_inc                   759338 non-null  float64
 12  verification_status          759338 non-null  object
 13  loan_status                  759338 non-null  object
 14  pymnt_plan                   759338 non-null  object
 15  purpose                      759338 non-null  object
 16  title                        736165 non-null  object
 17  zip_code                     759337 non-null  object
 18  addr_state                   759338 non-null  object
 19  dti                          758983 non-null  float64
 20  delinq_2yrs                  759338 non-null  int64
 21  earliest_cr_line             759338 non-null  object
 22  inq_last_6mths               759337 non-null  float64
 23  mths_since_last_delinq       396633 non-null  float64
 24  mths_since_last_record       141179 non-null  float64
 25  open_acc                     759338 non-null  int64
 26  pub_rec                      759338 non-null  int64
 27  revol_bal                    759338 non-null  float64
 28  revol_util                   758821 non-null  float64
 29  total_acc                    759338 non-null  int64
 30  out_prncp                    759338 non-null  float64
 31  out_prncp_inv                759338 non-null  float64
 32  total_pymnt                  759338 non-null  float64
 33  total_pymnt_inv              759338 non-null  float64
 34  total_rec_prncp              759338 non-null  float64
 35  total_rec_int                759338 non-null  float64
 36  total_rec_late_fee           759338 non-null  float64
 37  recoveries                   759338 non-null  float64
 38  collection_recovery_fee      759338 non-null  float64
 39  last_pymnt_d                 758390 non-null  object
 40  last_pymnt_amnt              759338 non-null  float64
 41  next_pymnt_d                 591423 non-null  object
 42  last_credit_pull_d           759320 non-null  object
 43  collections_12_mths_ex_med   759338 non-null  int64
 44  mths_since_last_major_derog  215105 non-null  float64
 45  annual_inc_joint             34003 non-null   float64
 46  dti_joint                    34001 non-null   float64
 47  verification_status_joint    34003 non-null   object
 48  acc_now_delinq               759338 non-null  int64
 49  tot_coll_amt                 759338 non-null  float64
 50  tot_cur_bal                  759338 non-null  float64
 51  open_acc_6m                  759276 non-null  float64
 52  open_il_12m                  759277 non-null  float64
 53  open_il_24m                  759277 non-null  float64
 54  mths_since_rcnt_il           738795 non-null  float64
 55  total_bal_il                 759277 non-null  float64
 56  il_util                      658743 non-null  float64
 57  open_rv_12m                  759277 non-null  float64
 58  open_rv_24m                  759277 non-null  float64
 59  max_bal_bc                   759277 non-null  float64
 60  all_util                     759224 non-null  float64
 61  total_rev_hi_lim             759338 non-null  float64
 62  inq_fi                       759277 non-null  float64
 63  total_cu_tl                  759276 non-null  float64
 64  inq_last_12m                 759276 non-null  float64
dtypes: float64(39), int64(8), object(18)
memory usage: 376.6+ MB

In [26]:
# Cleaning uneccesary data (pt.2)

# Converting null values to 0, or None depending on the type of data

lending_club_data[['dti_joint','annual_inc_joint','il_util' , 'mths_since_rcnt_il', 'open_acc_6m', 'open_il_12m', 'open_il_24m', 'total_bal_il', 'inq_last_12m' , 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl' ]] = lending_club_data[['dti_joint','annual_inc_joint','il_util' , 'mths_since_rcnt_il', 'open_acc_6m', 'open_il_12m', 'open_il_24m', 'total_bal_il', 'inq_last_12m' , 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl']].fillna(0)


lending_club_data[['tot_coll_amt','tot_cur_bal','total_rev_hi_lim']] = lending_club_data[['total_rev_hi_lim', 'tot_cur_bal', 'tot_coll_amt']].fillna(0)

lending_club_data.verification_status_joint = lending_club_data.verification_status_joint.fillna('None')

# Converting NaN values to 0 or 1 for the following columns

lending_club_data.mths_since_last_record = lending_club_data.mths_since_last_record.apply(lambda x: 0 if pd.isna(x) else 1) 
lending_club_data.mths_since_last_major_derog = lending_club_data.mths_since_last_major_derog.apply(lambda x: 0 if pd.isna(x) else 1) 
lending_club_data.mths_since_last_delinq = lending_club_data.mths_since_last_delinq.apply(lambda x: 0 if pd.isna(x) else 1)

# Drop the following five columns

lending_club_data.drop(['next_pymnt_d' ,'last_pymnt_d','last_credit_pull_d'],axis=1,inplace=True) 

lending_club_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759338 entries, 0 to 759337
Data columns (total 62 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    759338 non-null  int64
 1   funded_amnt                  759338 non-null  int64
 2   funded_amnt_inv              759338 non-null  float64
 3   term                         759338 non-null  object
 4   int_rate                     759338 non-null  float64
 5   installment                  759338 non-null  float64
 6   grade                        759338 non-null  object
 7   sub_grade                    759338 non-null  object
 8   emp_title                    708368 non-null  object
 9   emp_length                   708975 non-null  object
 10  home_ownership               759338 non-null  object
 11  annual_inc                   759338 non-null  float64
 12  verification_status          759338 non-null  object
 13  loan_status                  759338 non-null  object
 14  pymnt_plan                   759338 non-null  object
 15  purpose                      759338 non-null  object
 16  title                        736165 non-null  object
 17  zip_code                     759337 non-null  object
 18  addr_state                   759338 non-null  object
 19  dti                          758983 non-null  float64
 20  delinq_2yrs                  759338 non-null  int64
 21  earliest_cr_line             759338 non-null  object
 22  inq_last_6mths               759337 non-null  float64
 23  mths_since_last_delinq       759338 non-null  int64
 24  mths_since_last_record       759338 non-null  int64
 25  open_acc                     759338 non-null  int64
 26  pub_rec                      759338 non-null  int64
 27  revol_bal                    759338 non-null  float64
 28  revol_util                   758821 non-null  float64
 29  total_acc                    759338 non-null  int64
 30  out_prncp                    759338 non-null  float64
 31  out_prncp_inv                759338 non-null  float64
 32  total_pymnt                  759338 non-null  float64
 33  total_pymnt_inv              759338 non-null  float64
 34  total_rec_prncp              759338 non-null  float64
 35  total_rec_int                759338 non-null  float64
 36  total_rec_late_fee           759338 non-null  float64
 37  recoveries                   759338 non-null  float64
 38  collection_recovery_fee      759338 non-null  float64
 39  last_pymnt_amnt              759338 non-null  float64
 40  collections_12_mths_ex_med   759338 non-null  int64
 41  mths_since_last_major_derog  759338 non-null  int64
 42  annual_inc_joint             759338 non-null  float64
 43  dti_joint                    759338 non-null  float64
 44  verification_status_joint    759338 non-null  object
 45  acc_now_delinq               759338 non-null  int64
 46  tot_coll_amt                 759338 non-null  float64
 47  tot_cur_bal                  759338 non-null  float64
 48  open_acc_6m                  759338 non-null  float64
 49  open_il_12m                  759338 non-null  float64
 50  open_il_24m                  759338 non-null  float64
 51  mths_since_rcnt_il           759338 non-null  float64
 52  total_bal_il                 759338 non-null  float64
 53  il_util                      759338 non-null  float64
 54  open_rv_12m                  759338 non-null  float64
 55  open_rv_24m                  759338 non-null  float64
 56  max_bal_bc                   759338 non-null  float64
 57  all_util                     759338 non-null  float64
 58  total_rev_hi_lim             759338 non-null  float64
 59  inq_fi                       759338 non-null  float64
 60  total_cu_tl                  759338 non-null  float64
 61  inq_last_12m                 759338 non-null  float64
dtypes: float64(36), int64(11), object(15)
memory usage: 359.2+ MB

In [27]:
# Save emp_length (Employment Length) unique values into emp_length_unique DataFrame

emp_length_unique = lending_club_data[['emp_length']].value_counts().to_frame('total')

emp_length_unique

             total
emp_length
10+ years   257944
2 years      69494
< 1 year     62724
3 years      60843
1 year       50585
5 years      46139
4 years      45573
6 years      32616
8 years      28707
9 years      28554
7 years      25796

In [31]:
demograph_lc_data = lending_club_data[["zip_code", 
                                       "addr_state", 
                                       "emp_title", 
                                       "emp_length",
                                       "annual_inc",
                                       "home_ownership",
                                       "title",
                                       "purpose"]].copy().dropna()
demograph_lc_data.head()
demograph_lc_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 688034 entries, 1 to 759337
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   zip_code        688034 non-null  object
 1   addr_state      688034 non-null  object
 2   emp_title       688034 non-null  object
 3   emp_length      688034 non-null  object
 4   annual_inc      688034 non-null  float64
 5   home_ownership  688034 non-null  object
 6   title           688034 non-null  object
 7   purpose         688034 non-null  object
dtypes: float64(1), object(7)
memory usage: 47.2+ MB